@CHARSET "UTF-8";

html{
	overflow-y: scroll;
	overflow: -moz-scrollbars-vertical; 
}

#middle_container{
	position: relative;
	background-color: #f9f9f9;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 30px;
	padding: 20px;
	width: 855px;
	height: auto;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-color: #000033;
	box-shadow: 0px 0px 10px #222233;
	overflow: hidden;
}

#main_content{
	display: block;
	width: auto;
	height: auto;
	margin: 20px;
}
.style{

	margin-left: 5cm;
	margin-right: auto;
	 margin-top: 5cm;
	display: block;
	height:250px;
}